<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBii0SOO1sNhc0l95oqOV7YuuFahK3W4Yo</string>
	<key>GCM_SENDER_ID</key>
	<string>948170723738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photogramApp</string>
	<key>PROJECT_ID</key>
	<string>testing-fad53</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-fad53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948170723738:ios:d8ff530929cd85a0b3aa23</string>
</dict>
</plist>